.Line {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  border-top: 2px gray solid;
  padding-right: 20px;
}

.Marka {
  min-width: 145px;
}

.Model {
  min-width: 45px;
}
.Yil {
  min-width: 45px;
}
.Ceker {
  min-width: 41px;
}

.Img {
  width: 16px;
}
