.Line {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  border-top: 2px gray solid;
  padding-right: 20px;
}

.Red {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  border-top: 2px gray solid;
  padding-right: 20px;
  color: red !important;
}

.Marka {
  @media (--m) {
    min-width: 145px;
  }
  @media (--s) {
    min-width: 130px;
  }
}

.Model {
  text-align: center;
  @media (--m) {
    min-width: 45px;
  }
  @media (--s) {
    min-width: 65px;
  }
}
.Yil {
  min-width: 45px;
  text-align: center;
}

.Fiyat {
  font-weight: bold;
}
.Ceker {
  min-width: 41px;
  text-align: right;
}

.Img {
  width: 16px;
}
